<H1>"My Jupyter Notebook on IBM Watson Studio"</H1>

<b>Billy Rogers</b>

Data Scientist

<i>"I am interested in data science because it is exciting and challenging."</i>

<H3>The code in the next cell opens a file in read only mode; reads it into the variable contents then prints out the file contents.</H3>

In [ ]:
#  Not best practice have to manually close
#  See best practice: "with" below 
myfile = open('myfile.txt', mode='r')   
contents = myfile.read()

print(contents)

<h3>Numbered list</h3> 
<ol>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ol> 
<hr>
<h3>Bulleted list</h3>
<ul>
  <li>Coffee</li>
  <li>Tea</li>
  <li>Milk</li>
</ul>  

<h3>Table</h3>
<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr>
    <td>Alfreds Futterkiste</td>
    <td>Maria Anders</td>
    <td>Germany</td>
  </tr>
  <tr>
    <td>Centro comercial Moctezuma</td>
    <td>Francisco Chang</td>
    <td>Mexico</td>
  </tr>
  <tr>
    <td>Ernst Handel</td>
    <td>Roland Mendel</td>
    <td>Austria</td>
  </tr>
  <tr>
    <td>Island Trading</td>
    <td>Helen Bennett</td>
    <td>UK</td>
  </tr>
  <tr>
    <td>Laughing Bacchus Winecellars</td>
    <td>Yoshi Tannamuri</td>
    <td>Canada</td>
  </tr>
  <tr>
    <td>Magazzini Alimentari Riuniti</td>
    <td>Giovanni Rovelli</td>
    <td>Italy</td>
  </tr>
</table>

<h3>Block Quote</h3>
<blockquote> A data scientist is someone who does data science</blockquote>

<h3>Image</h3>
<img align= 'left' src='graphics/WalkersPosition.png' width="400" height="400">